
body{
    font: 20px Arial, sans-serif;
}
.navbar {
    background-color: #58fafa;
}

.quem-somos{
    background-color: #8181f7;
    color: black;

}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: #58fafa;
    color: black;
}

.servicos{
    background-color: #8181f7;
    font-size: 20px;
}

.bg-footer{
    background-color: black;
    color: white;
}